.container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1rem;
    /* height: 700px;
    width: 1000px; */
    padding: 20px;
    height: 100%;
    width: 100%;
}


.header{
    background-color: #f5f5f5;
    /* grid-column: 1 / -1; */
    grid-row: 1fr;
}

table{
    background-color: #f5f5f5;
    /* grid-column: 1 / -1; */
    grid-row: 2fr;
    text-align: center;
}

.aside{
    background-color: #f5f5f5;
    /* grid-column: 1 / -1;  */
}